<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">    
    <script src="https://unpkg.com/tone"></script>    
    <script src="{{ url_for('static', filename='javascript/functions.js') }}"></script>        
    <title>BackNet</title>
</head>
<body>    
    <div id="piano-container">
        <div id="notes">
            BachNet
        </div>
        <div>
            <ul id="piano">
                <li class="key" onclick="play_note('C')">
                    C
                </li>
                <li class="black-key" onclick="play_note('C#')">                    
                    C#
                </li>
                <li class="key" onclick="play_note('D')">                    
                    D
                </li>
                <li class="black-key" id="D-sharp" onclick="play_note('D#')">                    
                    D#
                </li>
                <li class="key" onclick="play_note('E')">
                    E
                </li>
                <li class="key" onclick="play_note('F')">                    
                    F
                </li>
                <li class="black-key" id="F-sharp" onclick="play_note('F#')">
                    F#
                </li>
                <li class="key" onclick="play_note('G')">                 
                    G
                </li>
                <li class="black-key" id="G-sharp" onclick="play_note('G#')">
                    G#
                </li>
                <li class="key" onclick="play_note('A')">
                    A
                </li>
                <li class="black-key" id="A-sharp" onclick="play_note('A#')">
                    A#
                </li>
                <li class="key" onclick="play_note('B')">
                    B
                </li>
            </ul>
        </div>
        <div id="controller">
            <button class="control-button" onclick="add_note()"> 
                Add note
            </button>
            <button class="control-button" onclick="remove_note()"> 
                Remove note
            </button>           
            <button class="control-button"> 
                Play
            </button>              
            <button class="control-button" onclick="harmonize()"> 
                Harmonize
            </button>              
        </div>        
    </div>      
</body>  
</html>